### Connecting to Google Drive

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import os
os.chdir('/content/drive/My Drive/ML Project/ML-PR/dataset')
!ls

Dataset_Exploration.ipynb  final_dataset.csv  hate_offensive  personal_attacks
detecting_insults	   hasoc	      jigsaw_toxic

In [0]:
import pandas as pd
import numpy as np

### Exploring dataset **"detecting_insults"**

In [0]:
impremium = pd.read_csv('detecting_insults/impremium.csv')
impremium2 = pd.read_csv('detecting_insults/impermium2.csv')
train_insult = pd.read_csv('detecting_insults/train.csv')

In [0]:
print(impremium.count(),"\n")
print(impremium2.count(),"\n")
print(train_insult.count())

id         2235
Insult     2235
Date       2235
Comment    2235
Usage      2235
dtype: int64

id         2235
Insult        0
Date       2235
Comment    2235
Usage      2235
dtype: int64

Insult     3947
Date       3229
Comment    3947
dtype: int64

In [0]:
impremium.head(10)

   id  Insult  ...                                            Comment        Usage
0   1       0  ...                 "like this if you are a tribe fan"  PrivateTest
1   2       1  ...              "you're idiot......................."  PrivateTest
2   3       1  ...  "I am a woman Babs, and the only "war on women...  PrivateTest
3   4       1  ...  "WOW & YOU BENEFITTED SO MANY WINS THIS YEAR F...  PrivateTest
4   5       1  ...  "haha green me red you now loser whos winning ...  PrivateTest
5   6       0  ...  "\nMe and God both hate-faggots.\n\nWhat's the...  PrivateTest
6   7       1  ...  "Oh go kiss the ass of a goat....and you DUMMY...  PrivateTest
7   8       0  ...                  "Not a chance Kid, you're wrong."  PrivateTest
8   9       0  ...            "On Some real Shit FUck LIVE JASMIN!!!"  PrivateTest
9  10       1  ...  "ok but where the hell was it released?you all...  PrivateTest

[10 rows x 5 columns]

In [0]:
impremium2.head(10)

   id  Insult  ...                                            Comment        Usage
0   1     NaN  ...                 "like this if you are a tribe fan"  PrivateTest
1   2     NaN  ...              "you're idiot......................."  PrivateTest
2   3     NaN  ...  "I am a woman Babs, and the only "war on women...  PrivateTest
3   4     NaN  ...  "WOW & YOU BENEFITTED SO MANY WINS THIS YEAR F...  PrivateTest
4   5     NaN  ...  "haha green me red you now loser whos winning ...  PrivateTest
5   6     NaN  ...  "\nMe and God both hate-faggots.\n\nWhat's the...  PrivateTest
6   7     NaN  ...  "Oh go kiss the ass of a goat....and you DUMMY...  PrivateTest
7   8     NaN  ...                  "Not a chance Kid, you're wrong."  PrivateTest
8   9     NaN  ...            "On Some real Shit FUck LIVE JASMIN!!!"  PrivateTest
9  10     NaN  ...  "ok but where the hell was it released?you all...  PrivateTest

[10 rows x 5 columns]

''' Since impremium has no labels for **_Insult_**, we will not consider it '''

In [0]:
train_insult.head(10)

   Insult             Date                                            Comment
0       1  20120618192155Z                               "You fuck your dad."
1       0  20120528192215Z  "i really don't understand your point.\xa0 It ...
2       0              NaN  "A\\xc2\\xa0majority of Canadians can and has ...
3       0              NaN  "listen if you dont wanna get married to a man...
4       0  20120619094753Z  "C\xe1c b\u1ea1n xu\u1ed1ng \u0111\u01b0\u1edd...
5       0  20120620171226Z  "@SDL OK, but I would hope they'd sign him to ...
6       0  20120503012628Z                      "Yeah and where are you now?"
7       1              NaN  "shut the fuck up. you and the rest of your fa...
8       1  20120502173553Z  "Either you are fake or extremely stupid...may...
9       1  20120620160512Z  "That you are an idiot who understands neither...

In [0]:
train_insult.rename(columns = {'Comment': 'text','Insult':'label'}, inplace = True)
impremium.rename(columns = {'Comment': 'text', 'Insult':'label'}, inplace = True)

column1 = ['Date', 'Usage']
column2 = ['Date']
impremium.drop(columns=column1, axis = 1, inplace = True)
train_insult.drop(columns=column2, axis = 1, inplace = True)

In [0]:
train_insult = train_insult.reindex(columns=['text', 'label'])
train_insult.head()

                                                text  label
0                               "You fuck your dad."      1
1  "i really don't understand your point.\xa0 It ...      0
2  "A\\xc2\\xa0majority of Canadians can and has ...      0
3  "listen if you dont wanna get married to a man...      0
4  "C\xe1c b\u1ea1n xu\u1ed1ng \u0111\u01b0\u1edd...      0

In [0]:
impremium = impremium.reindex(columns=['text', 'label'])
impremium.head()

                                                text  label
0                 "like this if you are a tribe fan"      0
1              "you're idiot......................."      1
2  "I am a woman Babs, and the only "war on women...      1
3  "WOW & YOU BENEFITTED SO MANY WINS THIS YEAR F...      1
4  "haha green me red you now loser whos winning ...      1

In [0]:
train_insult['text'][15]

'"FOR SOME REASON U SOUND RETARDED. LOL. DAMN. WHERE U BEEN NEGRO"'

### Exploring dataset **"hasoc"**

In [0]:
hasoc_dataset = pd.read_csv('hasoc/english_dataset/english_dataset.tsv', delimiter='\t')

In [0]:
hasoc_dataset.head()

text     5852
label    5852
dtype: int64

In [0]:
hasoc_dataset.task_2.unique()

array(['NONE', 'HATE', 'PRFN', 'OFFN'], dtype=object)

In [0]:
hasoc_dataset[hasoc_dataset['task_2'] == 'PRFN'].head(5)

        text_id  ... task_3
7    hasoc_en_8  ...    TIN
15  hasoc_en_16  ...    TIN
32  hasoc_en_33  ...    TIN
43  hasoc_en_44  ...    TIN
44  hasoc_en_45  ...    TIN

[5 rows x 5 columns]

In [0]:
hasoc_dataset[(~hasoc_dataset['task_2'].isin(['PRFN','HATE','OFFN'])) & (hasoc_dataset['task_1'] == 'HOF')].head(5)

Empty DataFrame
Columns: [text_id, text, task_1, task_2, task_3, label]
Index: []

Hate, Prfn, Offn all class seems to be come in hatred

So we will consider all these in one

In [0]:
def calculate_hate(cols):
  task_2 = str(cols[0])

  if task_2 == "NONE":
    return 0
  else:
    return 1

In [0]:
hasoc_dataset['label'] = hasoc_dataset[['task_2']].apply(calculate_hate, axis = 1)

In [0]:
columns = ['text_id', 'task_1', 'task_2', 'task_3']
hasoc_dataset.drop(columns=columns, axis = 1, inplace = True)

In [0]:
hasoc_dataset.head()

                                                text  label
0  #DhoniKeepsTheGlove | WATCH: Sports Minister K...      0
1  @politico No. We should remember very clearly ...      1
2  @cricketworldcup Guess who would be the winner...      0
3  Corbyn is too politically intellectual for #Bo...      0
4  All the best to #TeamIndia for another swimmin...      0

In [0]:
hasoc_dataset['text'][1]

'@politico No. We should remember very clearly that #Individual1 just admitted to treason . #TrumpIsATraitor  #McCainsAHero #JohnMcCainDay'

### Exploring dataset **"hate_offensive"**

In [0]:
ho_data = pd.read_csv('hate_offensive/labeled_data.csv')

In [0]:
ho_data.head(10)

   Unnamed: 0  count  ...  class                                              tweet
0           0      3  ...      2  !!! RT @mayasolovely: As a woman you shouldn't...
1           1      3  ...      1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2           2      3  ...      1  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3           3      3  ...      1  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4           4      6  ...      1  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
5           5      3  ...      1  !!!!!!!!!!!!!!!!!!"@T_Madison_x: The shit just...
6           6      3  ...      1  !!!!!!"@__BrighterDays: I can not just sit up ...
7           7      3  ...      1  !!!!&#8220;@selfiequeenbri: cause I'm tired of...
8           8      3  ...      1  " &amp; you might not get ya bitch back &amp; ...
9           9      3  ...      1  " @rhythmixx_ :hobbies include: fighting Maria...

[10 rows x 7 columns]

In [0]:
""" According to dataset readme
class:
        0-hate
        1-offensive
        2-neither
"""

def calculate_hate_labeled_data(cols):
  cls = int(cols[0])

  if cls == 2:
    return 0
  else:
    return 1

In [0]:
ho_data['label'] = ho_data[['class']].apply(calculate_hate_labeled_data, axis = 1)

In [0]:
ho_data.rename(columns = {'tweet': 'text'}, inplace = True)

In [0]:
columns = ['Unnamed: 0', 'count', 'hate_speech', 'offensive_language', 'neither', 'class']
ho_data.drop(columns = columns, inplace = True)

In [0]:
ho_data.head()

                                                text  label
0  !!! RT @mayasolovely: As a woman you shouldn't...      0
1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...      1
2  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...      1
3  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...      1
4  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...      1

In [0]:
ho_data['text'][2]

'!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby4life: You ever fuck a bitch and she start to cry? You be confused as shit'

### Exploring dataset **"jigsaw_toxic"**

In [0]:
train_jigsaw = pd.read_csv('jigsaw_toxic/train.csv')

In [0]:
train_jigsaw.head()

                 id  ... identity_hate
0  0000997932d777bf  ...             0
1  000103f0d9cfb60f  ...             0
2  000113f07ec002fd  ...             0
3  0001b41b1c6bb37e  ...             0
4  0001d958c54c6e35  ...             0

[5 rows x 8 columns]

In [0]:
train_jigsaw[(train_jigsaw['toxic']==1) & (train_jigsaw['obscene']==1)].head()

                  id  ... identity_hate
6   0002bcb3da6cb337  ...             0
42  001810bf8c45bf5f  ...             1
43  00190820581d90ce  ...             0
51  001dc38a83d420cf  ...             0
55  0020e7119b96eeeb  ...             0

[5 rows x 8 columns]

In [0]:
train_jigsaw[~((train_jigsaw['toxic']==1)|(train_jigsaw['severe_toxic']==1)|(train_jigsaw['obscene']==1)|(train_jigsaw['threat']==1)|(train_jigsaw['insult']==1)) & (train_jigsaw['identity_hate'] == 1)].count()

id               54
comment_text     54
toxic            54
severe_toxic     54
obscene          54
threat           54
insult           54
identity_hate    54
dtype: int64

NOTE:
It seems like all columns of labels are like hate speech in a way or the other

In [0]:
def calculate_hate_jigsaw(cols):
  toxic = int(cols[0])
  severe_toxic = int(cols[1])
  obscene = int(cols[2])
  threat = int(cols[3])
  insult = int(cols[4])
  indentity_hate = int(cols[5])


  return (toxic | severe_toxic | obscene | threat | insult | indentity_hate)

In [0]:
train_jigsaw['label'] = train_jigsaw[['toxic', 'severe_toxic', 'obscene', 'threat', 'insult', 'identity_hate']].apply(calculate_hate_jigsaw, axis = 1)

In [0]:
columns = ['id', 'toxic', 'severe_toxic', 'obscene', 'threat', 'insult', 'identity_hate']
train_jigsaw.drop(columns=columns, inplace = True)
train_jigsaw.rename(columns = {'comment_text': 'text'}, inplace = True)

In [0]:
train_jigsaw.head()

                                                text  label
0  Explanation\nWhy the edits made under my usern...      0
1  D'aww! He matches this background colour I'm s...      0
2  Hey man, I'm really not trying to edit war. It...      0
3  "\nMore\nI can't make any real suggestions on ...      0
4  You, sir, are my hero. Any chance you remember...      0

In [0]:
train_jigsaw['text'][56]

'=Tony Sidaway is obviously a fistfuckee. He loves an arm up his ass.'

### Exploring dataset **"personal attacks"**

In [0]:
attacks_annoted = pd.read_csv('personal_attacks/attack_comments.tsv', delimiter='\t')

In [0]:
attacks_annoted.head()

   rev_id                                            comment  ...  sample  split
0   37675  `-NEWLINE_TOKENThis is not ``creative``.  Thos...  ...  random  train
1   44816  `NEWLINE_TOKENNEWLINE_TOKEN:: the term ``stand...  ...  random  train
2   49851  NEWLINE_TOKENNEWLINE_TOKENTrue or false, the s...  ...  random  train
3   89320   Next, maybe you could work on being less cond...  ...  random    dev
4   93890               This page will need disambiguation.   ...  random  train

[5 rows x 7 columns]

In [0]:
attacks_annoted['sample'].unique()

array(['random', 'blocked'], dtype=object)

Since there is no labels for this dataset, we will not use in our project

## Now Concatenating these Datasets
>### Dataset which useful are **'Insult Dataset'**, **'Hasoc Dataset'**, **'Hate-offensive Dataset'** and **'Jigsaw toxic Dataset'**.

In [0]:
dataset = pd.concat([impremium,train_insult,hasoc_dataset, ho_data, train_jigsaw])

In [0]:
dataset.reset_index(drop = True, inplace = True)

In [0]:
dataset

                                                     text  label
0                      "like this if you are a tribe fan"      0
1                   "you're idiot......................."      1
2       "I am a woman Babs, and the only "war on women...      1
3       "WOW & YOU BENEFITTED SO MANY WINS THIS YEAR F...      1
4       "haha green me red you now loser whos winning ...      1
...                                                   ...    ...
196383  ":::::And for the second time of asking, when ...      0
196384  You should be ashamed of yourself \n\nThat is ...      0
196385  Spitzer \n\nUmm, theres no actual article for ...      0
196386  And it looks like it was actually you who put ...      0
196387  "\nAnd ... I really don't think you understand...      0

[196388 rows x 2 columns]

In [0]:
pd.DataFrame(dataset, columns=['text','label']).to_csv('../final_dataset.csv', index = False)